/* 
# ignore all files in the root directory

!/config
!/core
!/game
!/ui
!/.gitignore
!/app_config.py
!/app_logger.py
!/main.py
!/requirements.txt
!/responses.py

*/__pycache__/*
*.pyc

ui/__pycache__/chat_page.cpython-312.pyc
